name: Performance CI

on:
  pull_request:
    branches:
      - main

jobs:
  sanity:
    name: CI Sanity Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print message
        run: echo "Performance CI pipeline started"
